{{template "header" .}}

<main>
  <h2>Mozhi</h2>
  <h3>Translate</h3>
  
	<form action="/" method="get">
	  <label for="textin">Text To Translate:</label>
	  <textarea id="textin" name="textin" rows="4" cols="50"></textarea>
	  <input type="checkbox" name="vehicle1" value="Bike">
	  <label for="vehicle1"> I have a bike</label><br>
	  <input type="checkbox" name="vehicle2" value="Car">
	  <label for="vehicle2"> I have a car</label><br>
	  <input type="checkbox" name="vehicle3" value="Boat" checked>
	  <label for="vehicle3"> I have a boat</label><br><br>
	  <input type="submit" value="Submit">
	</form>
  <h3>Info</h3>
  {{ if eq .version "unknown, please build with Go 1.13+ or use Git"}} Mozhi
  version: <code>unknown</code> {{ else }} Mozhi version:
  <a href="https://codeberg.org/aryak/mozhi/commit/{{ .version}}"
    ><code>{{ .version}}</code></a
  >
  {{ end }}
  <br />
  Fiber version: {{ .fiberversion}}, running on {{ .goversion}}
</main>
{{ template "footer" .}}
